
@import "normalize.css/normalize.css";

@mixin media-sm() {
  @media screen and (max-width: 699px) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: 700px) and (max-width: 1199px) {
    @content;
  }
}
@mixin media-lg() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.en {
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include media-sm() {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include media-md() {
    width: 780px;
  }
  @include media-lg() {
    width: 780px;
  }
}

.button {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 35px;
  border-radius: 6px;
  padding: 8px 17px 5px;
  display: inline-block;
  color: white;
  background-color: #5c3cdf;
  text-decoration: none;
  cursor: pointer;
}

.button + .button {
  margin-left: 7px;
}

.button-icon {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px 8px;
  background-image: url("/ic-mail.svg");
  padding-left: 20px;
}

.section-header {
  background: #7151f4;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
  }

  .logo {
    position: absolute;
    top: 21px;
    left: 0;
    width: 89px;
    height: 22px;
    background-image: url("/dodo-logo.svg");
    background-repeat: no-repeat;
    background-size: 89px 22px;
  }
}


.section-intro {
  background: #7151f4;
  .container {
    padding-top: 55px;
    padding-bottom: 87px;
    @include media-sm() {
      padding-bottom: 107px;
    }
  }
  .title {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .d-day-container {
    width: 300px;
    height: 127px;
    border-radius: 63.5px;
    background-color: #ffffff;
    box-shadow: 0 7px 9px 0 #5938de;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    .d-day {
      width: 198px;
      height: 84px;
      font-size: 84px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      padding-top: 26.9px;
      line-height: 1;
      margin: 0 auto;
      letter-spacing: normal;
      text-align: center;
      color: #7151f4;
    }
  }

  .description {
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #a4d6ef;
    margin-bottom: 14px;
    .span {
      color: white; 
    }
  }

  .buttons {
    text-align: center;
  }
  .button {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 32px;
  }
  .button-slack {
    background-image: url("/ic-slack.svg")
  }
  .button-gallery {
    background-image: url("/ic-gallery.svg")
  }
  .button-github {
    background-image: url("/ic-github.svg")
  }
}



.section-body {
  
  .container {
    padding-top: 30px;
    padding-bottom: 105px;
  }
  .meets {
  }
  .meet {
    .header {
      position: relative;
      border-radius: 5px;
      background-color: #b5e6ff;
      padding: 10px 25px 8px;
      cursor: pointer;
      .title {
        font-size: 18px;
        color: #7151f4;
      }
      .icon {
        position: absolute;
        top: 14px;
        right: 25px;
      }
    }
    .body {
      padding: 20px 25px;
    }
  }

  .meet + .meet {
    margin-top: 7px;
  }

  .intro {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    padding-bottom: 12px;
    color: #74c4eb;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      margin-bottom: .3em;
    }
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
    }
    h5 {
      font-size: 1.1em;
    }
    h6 {
      font-size: 1em;
    }
    p {
      margin: 0;
      margin-bottom: .5em;
    }
    svg {
      display: none;
    }
  }

  .users {
    border-top: solid 1px #74c4eb;
    padding-top: 13px;
  }
  .user {
    line-height: 1.2;

    & + .user {
      margin-top: 18px;
    }
    .name {
      font-size: 14px;
      color: #4a4a4a;
      font-weight: bold;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .work {
      font-size: 14px;
      color: #4a4a4a;
      margin: 4px 0 0 0;
      a {
        color: #7151f4;
        text-decoration: underline;
      }
    }
  }
}
