
@import "normalize.css/normalize.css";

body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
}

.en {
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
}

.container {
  margin: 0 auto;

  .header {
    background: #7151f4;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 67px;

    .logo {
      width: 21%;
      height: 30px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("/dodo-logo.svg")
    }

    .label-top {
      width: 196px;
      height: 24px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin: 87px auto 12px auto;
    }

    .d-day-container {
      width: 300px;
      height: 127px;
      border-radius: 63.5px;
      background-color: #ffffff;
      box-shadow: 0 7px 9px 0 #5938de;
      margin: 22px auto;

      .d-day {
        width: 198px;
        height: 84px;
        font-size: 84px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        padding-top: 26.9px;
        line-height: 1;
        margin: 0 auto;
        letter-spacing: normal;
        text-align: center;
        color: #7151f4;
      }
    }

    .title {
      width: 310px;
      height: 30px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.5px;
      margin: 67px auto 12px auto;
      text-align: center;
      color: #a4d6ef;

      .span {
        color: white; 
      }
    }

    .media-container {
      .box {
        width: 110px;
        height: 37px;
        border-radius: 6px;
        display: inline-block;
        margin: 0 4.5px 0 4.5px;
        color: white; 
        background-color: rgba(255, 255, 255, 0.2);
        background-position-x: 16px;
        background-position-y: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .text {
        text-align: left;
        margin: 11.5px 0 0 40px;
      }

      .slack {
        background-image: url("/ic-slack.svg")
      }

      .facebook {
        background-image: url("/ic-facebook.svg")
      }

      .github {
        background-image: url("/ic-github.svg")
      }
    }
  }

  // 

  .history {
    background-color: white;
    display: block;
    margin: 0 0 100px 0;
    padding: 0 0 100px 0;

    // ------ ------

    .subject {
      width: 780px;
      height: 47px;
      border-radius: 5px;
      margin: 37px auto 0 auto;
      background-color: #b5e6ff;

      .event-title {
        width: 120px;
        height: 21px;
        font-size: 18px;
        line-height: 1.1666666666666667;
        letter-spacing: normal;
        color: #7151f4;
        margin: 0 0 0 30px;
        padding-top: 15.6px;
      }
    }
    
    // ------ ------
    
    .content {
    }

    .user-work-list {
      padding-left: 20px;
      
      .user-name {
        font-size: 14px;
        color: #4a4a4a;
        margin: 22px 0 0 0;
        font-weight: bold;
      }
  
      .user-work {
        font-size: 14px;
        color: #7151f4;        
        margin: 4px 0 0 0;
      }
    }

  }

  .name {
    color:blue;
  }
  .age {
    color: red; 
  }
}
